*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
body{
    background: whitesmoke;
    color: black;
}
#header{
width: 100%;
height: 100vh;
background-image: url(images/ub.png.jpg);
background-size: cover;
background-position:center;
justify-content: space-between;
}
.container{
    padding: 12px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-wrap:wrap;
}
nav ul li{  
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position:  absolute;
    left: 2px;;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;

}
.header-text{
margin-top: 5%;
font-size: 15px;
}
.header-text h1{
    font-size:20px;
    margin-top: 70px;
}
.header-text h1 span {
    color: #ff004f;
}  
/*-----about*/
#about{
    padding: 80px 0px;
    position:left;
}
.row{
    display: flex;
    /* justify-content: space-between;
    flex-wrap: wrap; */
}
.about-col-1 img{
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    color:#262626;
}
.tab-title{
    display: flex;
    margin:20px 0 40px;
}
.tab-link{
   margin: 50px;
   font-size: 18px;
 font-weight: 500;
  cursor:pointer;
  position: relative;
}.tab-link::after{
    content:'';
    width:0;
    background: #ff004f;
    position:absolute ;
    left: 0;
    bottom:-6px;
    transiton:0.5s;
    height: 3px;
}
 .tab-link.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin:10px 0;
}
.tab-content ul li span{
    color: #ff004f;
    font-size: 20px;
}
/*--service*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(250px,1fr));
    grid-gap:20px;
    margin-top:30px; 
    font-size: 20px;
}
    services-list div{
      background: #ff004f;
       padding: 20px;
    font-size: 60px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, tranform 0.5s;
    }
    services-list h5 span{
        color: #ff004f;
    }
.service-list div:hover{
    background-color: #ff004f;
    transform: translate(-10px);
} 
.work-list{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.work.h4{
    font-size: medium;
}
.work img{
    width: 100%;
    border-radius: 20px;
    display: inline-block;
    transition:(1.2);
}
.btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 4px solid #ff004f;
    padding: 12px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*---contact*/
    .btn .btn2{
display:inline-block;
background: #ff004f;
    }
 .form input,form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: wheat;
    padding: 10px;
    margin:10px 0;
    color: black;
    border-radius: 6px;
    font-size: 20px;
 }
 .form.btn2{
    padding: 14px 60px;
    font-size: 14px;
    margin: 20px;
    cursor: pointer;
 }

.footer{
    width: 100%;
    padding: 15px;
    text-align: center;
    background:black;
    color: #8c8c8c;
}
.work-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.left-item {
    width: 100%;
    margin-right: 20px;
}

.right-item {
    width: 100%;
    margin-right: 20px;
}
.right-item.h4.p{
    font-size: 12px;
}
  .left-item.h4.p{
    font-size: 12px;
  }
